## 1. Importing the Data
<p><img src="https://assets.datacamp.com/production/project_1230/img/nyc.jpg" alt="New York City skyline" width="600px">
<br>
Welcome to New York City (NYC), one of the most-visited cities in the world. 
As a result, there are many <a href="https://www.airbnb.com/"><em>Airbnb</em></a> listings to meet the high demand for temporary lodging for anywhere between a few nights to many months. 
In this notebook, we will take a look at the NYC Airbnb market by combining data from multiple file types like <code>.csv</code>, <code>.tsv</code>, and <code>.xlsx</code>.</p>
<p><br><br>
We will be working with three datasets:</p>
<ol>
<li><p><code>"datasets/airbnb_price.csv"</code></p></li>
<li><p><code>"datasets/airbnb_room_type.xlsx"</code></p></li>
<li><p><code>"datasets/airbnb_last_review.tsv"</code></p></li>
</ol>
<p><br><br>
Our goals are to convert untidy data into appropriate formats to analyze, and answer key questions including:</p>
<ul>
<li>What is the average price, per night, of an Airbnb listing in NYC? </li>
<li>How does the average price of an Airbnb listing, per month, compare to the private rental market? </li>
<li>How many adverts are for private rooms? </li>
<li>How do Airbnb listing prices compare across the five NYC boroughs?</li>
</ul>

In [39]:
import pandas as pd
import numpy as np
import datetime as dt

# Load airbnb_price.csv, prices
prices = pd.read_csv("datasets/airbnb_price.csv")

# Load airbnb_room_type.xlsx, xls
xls = pd.ExcelFile("datasets/airbnb_room_type.xlsx")

# Parse the first sheet from xls, room_types
room_types = xls.parse(0)

# Load airbnb_last_review.tsv, reviews
reviews = pd.read_csv("datasets/airbnb_last_review.tsv", sep="\t")

# Print the first five rows of each DataFrame
print(prices.head(), "\n", room_types.head(), "\n", reviews.head())

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown
    listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt
    listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

## 2. Cleaning the price column
<p>Now the <code>DataFrames</code> have been loaded, the first step is to calculate the average price per listing by <code>room_type</code>. </p>
<p>You may have noticed that the <code>price</code> column in the <code>prices</code> DataFrame currently states each value as a string with the currency (dollars) following, i.e.,</p>
<pre><code>price
225 dollars
89 dollars
200 dollars</code></pre>
<p></p>
<p>We will need to clean the column in order to calculate the average price.</p>

In [41]:
# Remove whitespace and string characters from prices column
prices["price"] = prices["price"].str.replace(" dollars", "")

# Convert prices column to numeric datatype
prices["price"] = pd.to_numeric(prices["price"])

# Print descriptive statistics for the price column
print(prices["price"].describe())

count    25209.000000
mean       141.777936
std        147.349137
min          0.000000
25%         69.000000
50%        105.000000
75%        175.000000
max       7500.000000
Name: price, dtype: float64

## 3. Calculating average price
<p>We can see three quarters of listings cost $175 per night or less. </p>
<p>However, there are some outliers including a maximum price of $7,500 per night! </p>
<p>Some of listings are actually showing as free. Let's remove these from the <code>DataFrame</code>, and calculate the average price.</p>

In [43]:
# Subset prices for listings costing $0, free_listings
free_listings = prices["price"] == 0

# Update prices by removing all free listings from prices
prices = prices.loc[~free_listings]

# Calculate the average price, avg_price
avg_price = round(prices["price"].mean(), 2)

# Print the average price
print("The average price per night for an Airbnb listing in NYC is ${}.".format(avg_price))

The average price per night for an Airbnb listing in NYC is $141.82.

## 4. Comparing costs to the private rental market
<p>Now we know how much a listing costs, on average, per night, but it would be useful to have a benchmark for comparison. 
According to <a href="https://www.zumper.com/rent-research">Zumper</a>, a 1 bedroom apartment in New York City costs, on average, $3,100 per month. Let's convert the per night prices of our listings into monthly costs, so we can compare to the private market. </p>

In [45]:
# Add a new column to the prices DataFrame, price_per_month
prices["price_per_month"] = prices["price"] * 365 / 12

# Calculate average_price_per_month
average_price_per_month = round(prices["price_per_month"].mean(), 2)

# Compare Airbnb and rental market
print("airbnb monthly costs are ${}, while in the private market you would pay {}.".format(average_price_per_month, "$3,100.00"))

airbnb monthly costs are $4313.61, while in the private market you would pay $3,100.00.

## 5. Cleaning the room type column
<p>Unsurprisingly, using Airbnb appears to be substantially more expensive than the private rental market. We should, however, consider that these Airbnb listings include single private rooms or even rooms to share, as well as entire homes/apartments. 
<br><br>
Let's dive deeper into the <code>room_type</code> column to find out the breakdown of listings by type of room. The <code>room_type</code> column has several variations for <code>private room</code> listings, specifically: </p>
<ul>
<li>"Private room"</li>
<li>"private room"</li>
<li>"PRIVATE ROOM"</li>
</ul>
<p>We can solve this by converting all string characters to lower case (upper case would also work just fine). </p>

In [47]:
# Convert the room_type column to lowercase
room_types["room_type"] = room_types["room_type"].str.lower()

# Update the room_type column to category data type
room_types["room_type"] = room_types["room_type"].astype("category")

# Create the variable room_frequencies
room_frequencies = room_types["room_type"].value_counts()

# Print room_frequencies
print(room_frequencies)

entire home/apt    13266
private room       11356
shared room          587
Name: room_type, dtype: int64

## 6. What timeframe are we working with?
<p>It seems there is a fairly similar sized market opportunity for both private rooms (45% of listings) and entire homes/apartments (52%) on the Airbnb platform in NYC.
<br><br></p>
<p>Now let's turn our attention to the <code>reviews</code> DataFrame. The <code>last_review</code> column contains the date of the last review in the format of "Month Day Year" e.g., May 21 2019. We've been asked to find out the earliest and latest review dates in the DataFrame, and ensure the format allows this analysis to be easily conducted going forwards. </p>

In [49]:
# Change the data type of the last_review column to datetime
reviews["last_review"] = pd.to_datetime(reviews["last_review"])

# Create first_reviewed, the earliest review date
first_reviewed = reviews["last_review"].dt.date.min()

# Create last_reviewed, the most recent review date
last_reviewed = reviews["last_review"].dt.date.max()

# Print the oldest and newest reviews from the DataFrame
print("The latest Airbnb review is {}, the earliest review is {}".format(first_reviewed, last_reviewed))

The latest Airbnb review is 2019-01-01, the earliest review is 2019-07-09

## 7. Joining the DataFrames.
<p>Now we've extracted the information needed, we will merge the three DataFrames to make any future analysis easier to conduct. Once we have joined the data, we will remove any observations with missing values and check for duplicates.</p>

In [51]:
# Merge prices and room_types to create rooms_and_prices
rooms_and_prices = prices.merge(room_types, how='outer', on='listing_id')

# Merge rooms_and_prices with the reviews DataFrame to create airbnb_merged
airbnb_merged = rooms_and_prices.merge(reviews)

# Drop missing values from airbnb_merged
airbnb_merged.dropna(inplace=True)

# Check if there are any duplicate values
print("There are {} duplicates in the DataFrame.".format(airbnb_merged))

There are        listing_id  price                    nbhood_full  price_per_month  \
0            2595  225.0             Manhattan, Midtown      6843.750000
1            3831   89.0         Brooklyn, Clinton Hill      2707.083333
2            5099  200.0         Manhattan, Murray Hill      6083.333333
3            5178   79.0      Manhattan, Hell's Kitchen      2402.916667
4            5238  150.0           Manhattan, Chinatown      4562.500000
5            5295  135.0     Manhattan, Upper West Side      4106.250000
6            5441   85.0      Manhattan, Hell's Kitchen      2585.416667
7            5803   89.0          Brooklyn, South Slope      2707.083333
8            6021   85.0     Manhattan, Upper West Side      2585.416667
9            6848  140.0         Brooklyn, Williamsburg      4258.333333
10           7097  215.0          Brooklyn, Fort Greene      6539.583333
11           7322  140.0             Manhattan, Chelsea      4258.333333
12           7726   99.0        Brooklyn, Crown Heights      3011.250000
13           8024  130.0           Brooklyn, Park Slope      3954.166667
14           8025   80.0           Brooklyn, Park Slope      2433.333333
15           8110  110.0           Brooklyn, Park Slope      3345.833333
16           8490  120.0   Brooklyn, Bedford-Stuyvesant      3650.000000
17           8505   60.0      Brooklyn, Windsor Terrace      1825.000000
18           9518   44.0              Manhattan, Inwood      1338.333333
19           9657  180.0        Manhattan, East Village      5475.000000
20           9668   50.0              Manhattan, Harlem      1520.833333
21           9704   52.0              Manhattan, Harlem      1581.666667
22           9782   55.0           Brooklyn, Greenpoint      1672.916667
23           9783   50.0              Manhattan, Harlem      1520.833333
24          10452   70.0   Brooklyn, Bedford-Stuyvesant      2129.166667
25          10962   89.0          Brooklyn, South Slope      2707.083333
26          11708   85.0             Brooklyn, Bushwick      2585.416667
27          12048   40.0     Manhattan, Lower East Side      1216.666667
28          12192   68.0        Manhattan, East Village      2068.333333
29          12299  120.0          Brooklyn, South Slope      3650.000000
...           ...    ...                            ...              ...
25172    36233091   40.0             Brooklyn, Bushwick      1216.666667
25173    36235150  170.0         Brooklyn, Williamsburg      5170.833333
25174    36235154  138.0              Manhattan, Harlem      4197.500000
25175    36236013   75.0        Brooklyn, Cypress Hills      2281.250000
25176    36237529   65.0        Staten Island, Rosebank      1977.083333
25177    36238485   91.0         Brooklyn, Williamsburg      2767.916667
25178    36241283   50.0              Brooklyn, Midwood      1520.833333
25179    36241782  100.0         Brooklyn, Williamsburg      3041.666667
25180    36242888  220.0     Manhattan, Upper East Side      6691.666667
25181    36272851  135.0            Manhattan, Kips Bay      4106.250000
25182    36273046  120.0     Manhattan, Upper East Side      3650.000000
25183    36274037  170.0  Manhattan, Financial District      5170.833333
25184    36280646   16.0           Queens, Forest Hills       486.666667
25185    36308600  150.0           Brooklyn, Park Slope      4562.500000
25186    36309284   45.0              Queens, Bayswater      1368.750000
25187    36310268   65.0                Queens, Maspeth      1977.083333
25188    36310855   68.0   Brooklyn, Bedford-Stuyvesant      2068.333333
25189    36318560  120.0             Manhattan, Midtown      3650.000000
25190    36335990   75.0  Manhattan, Financial District      2281.250000
25191    36344079  150.0                Queens, Astoria      4562.500000
25192    36351128  110.0     Manhattan, Upper West Side      3345.833333
25193    36351543   33.0   Brooklyn, Bedford-Stuyvesant      1003.750000
25194    36390226   45.0   Brooklyn, Bedford-Stuyvesant      1368.750000
25195    36411407  150.0     Manhattan, Lower East Side      4562.500000
25196    36413632  550.0     Brooklyn, Brooklyn Heights     16729.166667
25197    36425863  129.0     Manhattan, Upper East Side      3923.750000
25198    36427429   45.0               Queens, Flushing      1368.750000
25199    36438336  235.0     Staten Island, Great Kills      7147.916667
25200    36442252  100.0              Bronx, Mott Haven      3041.666667
25201    36455809   30.0             Brooklyn, Bushwick       912.500000

                                             description        room_type  \
0                                  Skylit Midtown Castle  entire home/apt
1                        Cozy Entire Floor of Brownstone  entire home/apt
2              Large Cozy 1 BR Apartment In Midtown East  entire home/apt
3                        Large Furnished Room Near B'way     private room
4                     Cute & Cozy Lower East Side 1 bdrm  entire home/apt
5                       Beautiful 1br on Upper West Side  entire home/apt
6                        Central Manhattan/near Broadway     private room
7         Lovely Room 1, Garden, Best Area, Legal rental     private room
8       Wonderful Guest Bedroom in Manhattan for SINGLES     private room
9                       Only 2 stops to Manhattan studio  entire home/apt
10                     Perfect for Your Parents + Garden  entire home/apt
11                                       Chelsea Perfect     private room
12       Hip Historic Brownstone Apartment with Backyard  entire home/apt
13                        CBG CtyBGd HelpsHaiti rm#1:1-4     private room
14                              CBG Helps Haiti Room#2.5     private room
15                                 CBG Helps Haiti Rm #2     private room
16                MAISON DES SIRENES1,bohemian apartment  entire home/apt
17                    Sunny Bedroom Across Prospect Park     private room
18          SPACIOUS, LOVELY FURNISHED MANHATTAN BEDROOM     private room
19                      Modern 1 BR / NYC / EAST VILLAGE  entire home/apt
20                                 front room/double bed     private room
21                   Spacious 1 bedroom in luxe building     private room
22                     Loft in Williamsburg Area w/ Roof     private room
23                                   back room/bunk beds     private room
24                                 Large B&B Style rooms     private room
25       Lovely room 2 & garden; Best area, Legal rental     private room
26                             Cute apt in artist's home  entire home/apt
27                   LowerEastSide apt share shortterm 1      shared room
28                                   ENJOY Downtown NYC!     private room
29                   Beautiful Sunny Park Slope Brooklyn  entire home/apt
...                                                  ...              ...
25172                                 1 room in bushwick     private room
25173    Sky View beautiful apt in Williamsburg New York  entire home/apt
25174                                   Top on Manhattan     private room
25175    READY BED GO the goal is to make u feel at home     private room
25176            Beautiful Cozy Room, 20mn to FREE ferry     private room
25177  Chic Room in Williamsburg + Backyard +Washer D...     private room
25178               Enjoy your friendly stay at my place     private room
25179  Classic Brooklyn Loft (East Williamsburg/Bushw...     private room
25180                 Upper East Site Luxury 2 Bed rooms     private room
25181    Private Bedroom in a Prewar Gramercy Building!*     private room
25182                  Elegant Spacious UES private room     private room
25183                            Cozy Wall Street Studio  entire home/apt
25184                       Cable and wfi, L/G included.  entire home/apt
25185          Cozy and Beautiful Park Slope One Bedroom  entire home/apt
25186  Private Room Near JFK, St John's Hospital, & B...     private room
25187                                     Full size room     private room
25188  Room 3: Cozy Room w Large Closet & Light Break...     private room
25189    Luxury Sun-filled Private Room near Time Square     private room
25190                Sunny Studio steps from Wall Street  entire home/apt
25191                       The Little Castle in Astoria     private room
25192   One bedroom without roomies, close to everything  entire home/apt
25193              2-MONTH SUBLEASE (WITH EARLY MOVE-IN)     private room
25194             Comfortable clean Bedstuy private room     private room
25195               Brand new 1 bedroom steps from Soho!  entire home/apt
25196         Spacious 2BR in Beautiful Brooklyn Heights  entire home/apt
25197         Lovely Privet Bedroom with Privet Restroom     private room
25198                           No.2 with queen size bed     private room
25199                                    Seas The Moment     private room
25200                      1B-1B apartment near by Metro  entire home/apt
25201            Cozy Private Room in Bushwick, Brooklyn     private room

              host_name last_review
0              Jennifer  2019-05-21
1           LisaRoxanne  2019-07-05
2                 Chris  2019-06-22
3              Shunichi  2019-06-24
4                   Ben  2019-06-09
5                  Lena  2019-06-22
6                  Kate  2019-06-23
7                Laurie  2019-06-24
8               Claudio  2019-07-05
9         Allen & Irina  2019-06-29
10                 Jane  2019-06-28
11                 Doti  2019-07-01
12     Adam And Charity  2019-06-22
13                Lisel  2019-07-01
14                Lisel  2019-01-01
15                Lisel  2019-07-02
16             Nathalie  2019-06-19
17              Gregory  2019-06-23
18                 Shon  2019-06-15
19                 Dana  2019-04-19
20      Ssameer Or Trip  2019-06-01
21                 Teri  2019-06-14
22               Andrea  2019-06-15
23      Ssameer Or Trip  2019-07-01
24               Angela  2019-05-12
25               Laurie  2019-06-21
26               Tyrome  2019-06-22
27                  Ben  2019-07-05
28               Edward  2019-06-21
29                Abdul  2019-05-27
...                 ...         ...
25172             Emily  2019-07-03
25173             Melki  2019-07-07
25174             Jason  2019-07-03
25175           Emanuel  2019-07-05
25176          Marouene  2019-07-05
25177              Ryan  2019-07-04
25178              Lana  2019-07-02
25179                Ap  2019-07-06
25180      Jean-Nicolas  2019-07-03
25181          Thikshan  2019-07-07
25182            Celine  2019-07-06
25183            Schmid  2019-07-06
25184             Chris  2019-07-07
25185            Kailey  2019-07-05
25186           Phoenix  2019-07-04
25187         Alejandro  2019-07-06
25188            Rehana  2019-07-06
25189         Linda Lou  2019-07-06
25190            Farina  2019-07-03
25191            Prince  2019-07-04
25192       David & Amy  2019-07-05
25193            Friday  2019-07-06
25194            Angela  2019-07-08
25195              Mike  2019-07-06
25196              Matt  2019-07-07
25197             Rusaa  2019-07-07
25198              Hâ€†Ai  2019-07-07
25199               Ben  2019-07-07
25200            Blaine  2019-07-07
25201         Christine  2019-07-08

[25184 rows x 8 columns] duplicates in the DataFrame.

## 8. Analyzing listing prices by NYC borough
<p>Now we have combined all data into a single DataFrame, we will turn our attention to understanding the difference in listing prices between <a href="https://en.wikipedia.org/wiki/Boroughs_of_New_York_City">New York City boroughs</a>. 
We can currently see boroughs listed as the first part of a string within the <code>nbhood_full</code> column, e.g., </p>
<pre><code>Manhattan, Midtown
Brooklyn, Clinton Hill
Manhattan, Murray Hill
Manhattan, Hell's Kitchen
Manhattan, Chinatown</code></pre>
<p></p>
<p>We will therefore need to extract this information from the string and store in a new column, <code>borough</code>, for analysis.</p>

In [53]:
# Extract information from the nbhood_full column and store as a new column, borough
airbnb_merged["borough"] = airbnb_merged["nbhood_full"].str.partition(",")[0]

# Group by borough and calculate summary statistics
boroughs = airbnb_merged.groupby("borough")["price"].agg(["sum", "mean", "median", "count"])

# Round boroughs to 2 decimal places, and sort by mean in descending order
boroughs = boroughs.round(2).sort_values("mean", ascending=False)

# Print boroughs
print(boroughs)

                     sum    mean  median  count
borough
Manhattan      1898417.0  184.04   149.0  10315
Brooklyn       1275250.0  122.02    95.0  10451
Queens          320715.0   92.83    70.0   3455
Staten Island    22974.0   86.04    71.0    267
Bronx            55156.0   79.25    65.0    696

## 9. Price range by borough
<p>The above output gives us a summary of prices for listings across the 5 boroughs. In this final task we would like to categorize listings based on whether they fall into specific price ranges, and view this by borough. 
<br><br>
We can do this using percentiles and labels to create a new column, <code>price_range</code>, in the DataFrame.
Once we have created the labels, we can then group the data and count frequencies for listings in each price range by borough.
<br><br>
We will assign the following categories and price ranges:</p>
<table>
<thead>
<tr>
<th>label</th>
<th>price</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>Budget</code></td>
<td>\$0-69</td>
</tr>
<tr>
<td><code>Average</code></td>
<td>\$70-175</td>
</tr>
<tr>
<td><code>Expensive</code></td>
<td>\$176-350</td>
</tr>
<tr>
<td><code>Extravagant</code></td>
<td>&gt; \$350</td>
</tr>
</tbody>
</table>

In [55]:
# Create labels for the price range, label_names
label_names = ["Budget", "Average", "Expensive", "Extravagant"]

# Create the label ranges, ranges
ranges = [0, 69, 175, 350, np.inf]

# Insert new column, price_range, into DataFrame
airbnb_merged["price_range"] = pd.cut(airbnb_merged["price"], bins=ranges, labels=label_names)

# Calculate borough and price_range frequencies, prices_by_borough
prices_by_borough = airbnb_merged.groupby(["borough", "price_range"])["price_range"].count()
print(prices_by_borough)

borough        price_range
Bronx          Budget          381
               Average         285
               Expensive        25
               Extravagant       5
Brooklyn       Budget         3194
               Average        5532
               Expensive      1466
               Extravagant     259
Manhattan      Budget         1148
               Average        5285
               Expensive      3072
               Extravagant     810
Queens         Budget         1631
               Average        1505
               Expensive       291
               Extravagant      28
Staten Island  Budget          124
               Average         123
               Expensive        20
Name: price_range, dtype: int64